<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha384-cRAmF0wErT4D9dEBc36qB6pVu+KmLh516IoGWD/Gfm6FicBbyDuHgS4jmkQB8u1a" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style type="text/css">
        #leftFieldSet {
            width: 500px;
            position: absolute;
            top: 15%;
            left: 10%;
        }
        #rightFieldSet {
            width: 500px;
            position: absolute;
            top: 20%;
            left: 55%;
        }

        </style>
</head>
<body>
<header th:insert="import/header :: header"></header>
    <div>
        <form th:action="@{/addEmployee}" method="post" enctype="multipart/form-data">
            <fieldset id="leftFieldSet">
                <legend>Добавление нового работника</legend>

                <div class="form-group">
                    <label for="SelectUnion">Выберите объединение сотрудника</label>
                    <select class="form-control" id="SelectUnion" name="union">
                        <option th:each="union : ${unions}" th:text="${union.nameOfTheUnion}" th:value="${union.unionID}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="SelectTypeOfEmployee">Выберите тип сотрудника</label>
                    <select class="form-control" id="SelectTypeOfEmployee" name="typeOfEmployee">
                        <option>Рабочий</option>
                        <option>Технический</option>
                        <option>Обслуживающий</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="InputName"></label>
                    <input type="text" class="form-control" id="InputName" aria-describedby="NameHelp" placeholder="Введите имя" name="name">
                </div>

                <div class="form-group">
                    <label for="InputPatronymic"></label>
                    <input type="text" class="form-control" id="InputPatronymic" aria-describedby="patronymicHelp" placeholder="Введите отчество" name="patronymic">
                </div>

                <div class="form-group">
                    <label for="InputLastname"></label>
                    <input type="text" class="form-control" id="InputLastname" aria-describedby="lastnameHelp" placeholder="Введите фамилию" name="lastname">
                </div>

                <div class="form-group">
                    <label for="InputDOB"></label>
                    <input type="date" value="1999-30-01" class="form-control" id="InputDOB" aria-describedby="dobHelp" placeholder="Введите дату рождения" name="dob">
                </div>

                <div class="form-group">
                    <label class="control-label" >Выберите пол</label>
                    <select class="form-control" id="SelectSex" name="sex">
                        <option>Мужской</option>
                        <option>Женский</option>
                    </select>
                </div>

             </fieldset>

            <fieldset id="rightFieldSet">

                <div class="form-group">
                    <label for="InputPost"></label>
                    <input type="text" class="form-control" id="InputPost" aria-describedby="postHelp" placeholder="Должность" name="post">
                </div>

                <div class="form-group">
                    <label for="InputEducation"></label>
                    <input type="text" class="form-control" id="InputEducation" aria-describedby="educationHelp" placeholder="Образование" name="education">
                </div>

                <div class="form-group">
                    <label for="InputExperience"></label>
                    <input type="number" class="form-control" id="InputExperience" aria-describedby="experienceHelp" placeholder="Стаж" name="experience">
                </div>

                <div class="form-group">
                    <label for="InputDateOfEntry"></label>
                    <input type="date" value="2017-06-01" class="form-control" id="InputDateOfEntry" aria-describedby="dateOfEntryHelp" placeholder="Дата трудоустройства" name="dateOfEntry">
                </div>

                <div class="form-group">
                    <label class="control-label">Заработная плата</label>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">руб</span>
                            </div>
                            <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="salary">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="SelectStatus">Выберите статус сотрудника</label>
                    <select class="form-control" id="SelectStatus" name="status">
                        <option>Работает</option>
                        <option>В отпуске</option>
                        <option>Уволен</option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="" name="headOfUnion">
                        <label class="custom-control-label" for="customSwitch1">Является ли главой объединения</label>
                    </div>
                </div>

                <input type="file" name="file">

                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </fieldset>
        </form>
    </div>
<link rel="import" href="import/footer.html">
</body>
</html>

