<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/simplex/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-cRAmF0wErT4D9dEBc36qB6pVu+KmLh516IoGWD/Gfm6FicBbyDuHgS4jmkQB8u1a" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <style type="text/css">
        #leftFieldSet {
            width: 500px;
            position: absolute;
            top: 15%;
            left: 10%;
        }
        #rightFieldSet {
            width: 500px;
            position: absolute;
            top: 20%;
            left: 55%;
        }


    </style>
</head>
<body>
<header th:insert="import/header :: header"></header>
<div th:each="el : ${sector}">
    <form th:action="@{/updateSector}" method="post" enctype="multipart/form-data">
        <fieldset id="leftFieldSet">
            <legend>Редактирование участка</legend>

            <input type="hidden" class="form-control" id="InputSectorID" aria-describedby="SectorHelp" name="sectorID"
                   th:value="${el.sectorID}">

            <div class="form-group">
                <label for="SelectWorkshop">Название цеха</label>
                <select class="form-control" id="SelectWorkshop" name="workshop">
                    <option th:each="workshop : ${workshop}" th:text="${workshop.nameOfWorkshop}"
                            th:value="${el.getWorkshopID()}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="InputNameOfSector"></label>
                <input type="text" class="form-control" id="InputNameOfSector" aria-describedby="NameHelp"
                       placeholder="Введите название участка" name="nameOfSector" th:value="${el.nameOfSector}">
            </div>

            <button type="submit" class="btn btn-primary">Подтвердить</button>

        </fieldset>

    </form>
</div>
</body>
</html>

